<div class="d-flex">
  <div class="col-8" style="width: 100%;">
    @if (complaintDetail) {
    <div>
      <h2 data-cy="complaintDetailDetailsHeading">
        <div>Khai báo lỗi</div>
      </h2>

      <hr />

      <div style="display: flex;flex-direction: column;">
        <div class="col-container">
          <div class="col-m4-25 col-container-child">Mã sản phẩm <br><input type="text"
              [(ngModel)]=" complaintDetail.product_code" [ngModelOptions]="{ standalone: true }" class="inp-style"
              [ngClass]="{'input-error': !complaintDetail.product_code}">
          </div>
          <div class="col-m4-25 col-container-child">Tên sản phẩm <br><input type="text"
              [(ngModel)]=" complaintDetail.product_name" [ngModelOptions]="{ standalone: true }" class="inp-style">
          </div>
          <div class="col-m4-25 col-container-child">Ngành <br><input type="text" [(ngModel)]=" complaintDetail.branch"
              [ngModelOptions]="{ standalone: true }" class="inp-style">
          </div>
          <div class="col-m4-25 col-container-child">Ngày sản xuất <br><input type="date"
              [(ngModel)]=" complaintDetail.production_time" [ngModelOptions]="{ standalone: true }" class="inp-style"
              max="{{today}}" (keydown)="cannotTypingInput($event)">
          </div>
        </div>
        <div class="col-container">
          <div class="col-m4-25 col-container-child">Người khiếu nại <br><input type="text"
              [(ngModel)]=" complaintDetail.reflector" [ngModelOptions]="{ standalone: true }"
              (input)="validateReflector(complaintDetail.reflector)" class="inp-style" list="reflector"
              [ngClass]="{'input-error': !complaintDetail.reflector && !validateReflector(complaintDetail.reflector)}">
            <datalist id="reflector">
              <option *ngFor="let data of reflectorLists" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div *ngIf="complaintDetail.reflector && !validateReflector(complaintDetail.reflector)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </div>
          <div class="col-m4-25 col-container-child">Đơn vị sử dụng <br><input type="text"
              [(ngModel)]=" complaintDetail.unit_of_use" [ngModelOptions]="{ standalone: true }" class="inp-style"
              list="unit_of_use">
            <datalist id="unit_of_use">
              <option *ngFor="let data of unitOfUseList" [value]="data.name">{{data.name}}</option>
            </datalist>
          </div>
          <div class="col-m4-25 col-container-child">Hình thức khiếu nại <br><input type="text"
              [(ngModel)]=" complaintDetail.complaint" [ngModelOptions]="{ standalone: true }"
              (input)="validateNameListComplaint(complaintDetail.complaint)" class="inp-style" list="complaint"
              [ngClass]="{'input-error': !complaintDetail.complaint && !validateNameListComplaint(complaintDetail.complaint)}">
            <datalist id="complaint">
              <option *ngFor="let data of complaintLists" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div *ngIf="complaintDetail.complaint && !validateNameListComplaint(complaintDetail.complaint)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </div>
          <div class="col-m4-25 col-container-child">Mã biên bản <br><input type="text"
              [(ngModel)]=" complaintDetail.report_code" [ngModelOptions]="{ standalone: true }" class="inp-style">
          </div>
        </div>
        <div class="col-container">
          <div class="col-m4-25 col-container-child">Số lượng nhận <br><input type="number"
              [(ngModel)]=" complaintDetail.quantity" [ngModelOptions]="{ standalone: true }" class="inp-style"
              (keydown)="isNumberKey($event)" min="0">
          </div>
          <div class="col-m4-25 col-container-child">Trạng thái <br><input type="text"
              [(ngModel)]=" complaintDetail.status" [ngModelOptions]="{ standalone: true }" class="inp-style"
              list="status">
            <datalist id="status">
              <option *ngFor="let data of complaintStatusList" [value]="data.name">{{data.name}}</option>
            </datalist>
          </div>
          <div class="col-m4-25 col-container-child"></div>
          <div class="col-m4-25 col-container-child"></div>
        </div>
        <div style="margin-bottom: 20px;">
          <div class="col-m4-25 col-container-child">Nội dung khiếu nại <br><input type="text"
              [(ngModel)]=" complaintDetail.complaint_detail" [ngModelOptions]="{ standalone: true }"
              style="width: 97.5%;height: 35px;border-radius: 5px;" class="inp-style"></div>
        </div>
        <div class="col-container">
          <div class="col-m4-25 col-container-child">Tổng lỗi <br><input type="text"
              [(ngModel)]=" complaintDetail.total_errors" [ngModelOptions]="{ standalone: true }" class="inp-style"
              readonly>
          </div>
          <div class="col-m4-25 col-container-child">Số lượng báo lỗi <br><input type="text"
              [(ngModel)]=" complaintDetail.error_quantity" [ngModelOptions]="{ standalone: true }" class="inp-style"
              readonly>
          </div>
          <div class="col-m4-25 col-container-child">Số lượng báo lắp đặt <br><input type="text"
              [(ngModel)]=" complaintDetail.used_quantity" [ngModelOptions]="{ standalone: true }" class="inp-style"
              readonly>
          </div>
          <div class="col-m4-25 col-container-child">Thông tin driver <br><input type="text"
              [(ngModel)]=" complaintDetail.driver_infor" [ngModelOptions]="{ standalone: true }" class="inp-style"
              readonly>
          </div>
          <div class="col-m4-25 col-container-child">Thông tin LED <br><input type="text"
              [(ngModel)]=" complaintDetail.led_infor" [ngModelOptions]="{ standalone: true }" class="inp-style"
              readonly>
          </div>
          <div class="col-m4-25 col-container-child">Đơn vị phối hợp <br><input type="text"
              [(ngModel)]=" complaintDetail.department" [ngModelOptions]="{ standalone: true }"
              (input)="validateDepartment(complaintDetail.department)" class="inp-style" list="department"
              [ngClass]="{'input-error': !complaintDetail.department && !validateDepartment(complaintDetail.department)}">
            <datalist id="department">
              <option *ngFor="let data of departmentList" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div *ngIf="complaintDetail.department && !validateDepartment(complaintDetail.department)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </div>
          <div class="col-m4-25 col-container-child">Ngày khắc phục <br><input type="date"
              [(ngModel)]=" complaintDetail.rectification_time" [ngModelOptions]="{ standalone: true }"
              class="inp-style" min="{{today}}" (keydown)="cannotTypingInput($event)"></div>
          <div class="col-m4-25 col-container-child">Kết quả thực hiện <br><input type="text"
              [(ngModel)]=" complaintDetail.implementation_result" [ngModelOptions]="{ standalone: true }"
              (input)="validateImplementationResult(complaintDetail.implementation_result)" class="inp-style"
              list="implementation_result"
              [ngClass]="{'input-error': !complaintDetail.implementation_result && !validateImplementationResult(complaintDetail.implementation_result)}">
            <datalist id="implementation_result">
              <option *ngFor="let data of implementationResultList" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div
              *ngIf="complaintDetail.implementation_result && !validateImplementationResult(complaintDetail.implementation_result)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </div>
        </div>
        <div class="col-container">
          <div class="col-m4-25 col-container-child">Ý kiến khách hàng sau khắc phục <br><input type="text"
              [(ngModel)]=" complaintDetail.comment" [ngModelOptions]="{ standalone: true }" class="inp-style"></div>
          <div class="col-m4-25 col-container-child">Theo dõi tiếp <br><input type="text"
              [(ngModel)]=" complaintDetail.follow_up_comment" [ngModelOptions]="{ standalone: true }"
              class="inp-style"></div>
          <div class="col-m4-25 col-container-child"></div>
          <div class="col-m4-25 col-container-child"></div>
        </div>
      </div>
      <div><button class="btn add-btn" (click)="addNewRow()"><fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>Thêm
          mới</button></div>
      <nz-table #middleTable class="custom-table" [nzData]="listOfError" [nzScroll]="{ x: '3700px' }"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="table-header" style="width: 2%;" nzLeft>
              <div class="d-flex">
                <span>Option</span>
                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 4%;" nzLeft>
              <div class="d-flex">
                <span>Hình ảnh</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 2%;" nzLeft>
              <div class="d-flex">
                <span>STT</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;" nzLeft>
              <div class="d-flex">
                <span>Mã lỗi</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 10%;" nzLeft>
              <div class="d-flex">
                <span>Tên lỗi</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Mã lot</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Serial</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Địa chỉ mac</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 3%;">
              <div class="d-flex">
                <span>Số lượng</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Phân loại nguồn lỗi</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Thông tin LED</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Thông tin driver</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header">
              <div class="d-flex">
                <span>Nguyên nhân</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header">
              <div class="d-flex">
                <span>Biện pháp khắc phục</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Người kiểm tra</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <th class="table-header" style="width: 6%;">
              <div class="d-flex">
                <span>Ngày kiểm tra</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th>
            <!-- <th class="table-header" style="width: 4%;" nzRight>
              <div class="d-flex">
                <span>Hình ảnh</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th> -->
            <!-- <th class="table-header" style="width: 4%;" nzRight>
              <div class="d-flex">
                <span>Options</span>

                <fa-icon class="p-1"></fa-icon>
              </div>
            </th> -->
          </tr>
        </thead>
        <tbody>

          @for (complaintList of listOfError; track complaintList.error_code;let i =$index) {
          <!-- <tr data-cy="entityTable" (mouseenter)="showTooltip($event, complaintList)" (mouseleave)="hideTooltip()"> -->
          <tr data-cy="entityTable">
            <td nzLeft>
              <div class="btn-group">
                <button class="image-btn" style="background-color: #FB4141; margin: 3px;"
                  (click)="deleteRow(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
              </div>
            </td>
            <td nz-tooltip [nzTooltipTitle]="titleTemplate" nzTooltipPlacement="right"
              (mouseenter)="showTooltip(complaintList.image, $event)" (mouseleave)="hideTooltip()" style="width: 4%;"
              nzLeft>
              <!-- <input class="inp-style" type="file" (change)="onChange($event,i)" /> -->
              <div class="btn-group">
                <button class="image-btn" style="background-color: #44d2d2;"
                  (click)="openPopupError(upload,complaintList.image,i,'upload')">
                  <fa-icon [icon]="faUpload">Upload</fa-icon>
                </button>

                <button class="image-btn" (click)="openPopupError(view,complaintList.image,i,'view')">
                  <fa-icon [icon]="faImage">View</fa-icon>
                </button>
              </div>
            </td>
            <td nzLeft> {{i+1}}</td>
            <td nzLeft>
              <input class="inp-style" type="text" [(ngModel)]=" complaintList.error_code"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing" list="errorLists"
                (input)="validateErrorCode(complaintList.error_code)"
                (change)="updateErrorValue(i,complaintList.error_code,null)"
                [ngClass]="{'input-error': !complaintList.error_code && !validateErrorCode(complaintList.error_code)}" />
              <datalist id="errorLists">
                <option *ngFor="let data of errorList" [value]="data.attributeKey">
                  {{data.attributeKey}}</option>
              </datalist>
              <div *ngIf="complaintList.error_code && !validateErrorCode(complaintList.error_code)"
                class="error-message">
                Vui lòng chọn giá trị từ danh sách
              </div>
            </td>
            <td nzLeft><input class="inp-style" type="text" [(ngModel)]=" complaintList.error_name"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                (input)="validateErrorName(complaintList.error_name)" list="errorListsName"
                (change)="updateErrorValue(i,null,complaintList.error_name)"
                [ngClass]="{'input-error': !complaintList.error_name && !validateErrorName(complaintList.error_name)}" />
              <datalist id="errorListsName">
                <option *ngFor="let data of errorList" [value]="data.errName">{{data.errName}}</option>
              </datalist>
              <div *ngIf="complaintList.error_name && !validateErrorName(complaintList.error_name)"
                class="error-message">
                Vui lòng chọn giá trị từ danh sách
              </div>
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]=" complaintList.lot_number"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                [ngClass]="{'input-error': !complaintList.lot_number}" />
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]=" complaintList.serial"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                [ngClass]="{'input-error': !complaintList.serial}" />
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]=" complaintList.mac_address"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                [ngClass]="{'input-error': !complaintList.mac_address}" />
            </td>
            <td><input class="inp-style" type="number" [(ngModel)]=" complaintList.quantity"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                (ngModelChange)="updateTotalError()" (keydown)="isNumberKey($event)" min="0"
                [ngClass]="{'input-error': !complaintList.quantity}" />
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]=" complaintList.error_source"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                [ngClass]="{'input-error': !complaintList.error_source }" />
            </td>
            <td><input class="input-search" type="text" [(ngModel)]=" complaintList.driver_infor"
                [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.driver_infor}" />
            </td>
            <td><input class="input-search" type="text" [(ngModel)]=" complaintList.led_infor"
                [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.led_infor}" />
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]="complaintList.reason"
                [ngModelOptions]="{ standalone: true }" (input)="validateReason(complaintList.reason)"
                [disabled]="complaintList.isEditing" list="reason"
                [ngClass]="{'input-error': !complaintList.reason && !validateReason(complaintList.reason)}" />
              <datalist id="reason">
                <option *ngFor="let data of reasonList" [value]="data.name">{{data.name}}</option>
              </datalist>
              <div *ngIf="complaintList.reason && !validateReason(complaintList.reason)" class="error-message">

              </div>
            </td>
            <td>
              <input class="inp-style" type="text" [(ngModel)]=" complaintList.method"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing"
                [ngClass]="{'input-error': !complaintList.method}" />
            </td>
            <td><input class="inp-style" type="text" [(ngModel)]=" complaintList.check_by"
                [ngModelOptions]="{ standalone: true }" (input)="validateChecker(complaintList.check_by)"
                [disabled]="complaintList.isEditing" list="check_by"
                [ngClass]="{'input-error': !complaintList.check_by && !validateChecker(complaintList.check_by)}" />
              <datalist id="check_by">
                <option *ngFor="let data of checkerLists" [value]="data.name">{{data.name}}</option>
              </datalist>
              <div *ngIf="complaintList.check_by && !validateChecker(complaintList.check_by)" class="error-message">
                Vui lòng chọn giá trị từ danh sách
              </div>
            </td>
            <td><input class="inp-style" type="date" [(ngModel)]=" complaintList.check_time"
                [ngModelOptions]="{ standalone: true }" [disabled]="complaintList.isEditing" max="{{today}}"
                [ngClass]="{'input-error': !complaintList.check_time}" />
            </td>
            <!-- <td nz-tooltip [nzTooltipTitle]="titleTemplate" nzTooltipPlacement="bottom"
              (mouseenter)="showTooltip(complaintList.image, $event)" (mouseleave)="hideTooltip()" style="width: 4%;"
              nzRight> -->
            <!-- <input class="inp-style" type="file" (change)="onChange($event,i)" /> -->
            <!-- <div class="btn-group">
                <button class="image-btn" style="background-color: #44d2d2;"
                  (click)="openPopupError(upload,complaintList.image,i,'upload')">
                  <fa-icon [icon]="faUpload">Upload</fa-icon>
                </button>

                <button class="image-btn" (click)="openPopupError(view,complaintList.image,i,'view')">
                  <fa-icon [icon]="faImage">View</fa-icon>
                </button>
              </div>
            </td>
            <td nzRight> -->
            <!-- <button class="btn-edit-save"
                (click)="complaintList.isEditing = complaintList.isEditing">{{complaintList.isEditing ? 'Lưu':'Chỉnh sửa'}}
              </button> -->
            <!-- <button class="btn-edit-save" (click)="complaintList.isEditing = complaintList.isEditing"
                (click)="complaintList.isEditing ? null : openToast()">
                <fa-icon [icon]="complaintList.isEditing ? 'save' : 'pencil'"></fa-icon>
              </button>
            </td> -->
          </tr>
          }
        </tbody>
      </nz-table>
      <button type="button" (click)="previousState()" class="add-btn"
        style="background-color:#e74c3c; color: white; border: none; border-radius: 5px; padding: 10px 15px; cursor: pointer; transition: background-color 0.3s;">
        <fa-icon icon="arrow-left"></fa-icon> Trở về
      </button>

      <button type="button" class="add-btn"
        style="background-color: #3498db; color: white; border: none; border-radius: 5px; padding: 10px 15px; cursor: pointer; transition: background-color 0.3s;"
        (click)="saveComplaintDetail('reload')">
        <fa-icon [icon]="faSave"></fa-icon> Lưu
      </button>
    </div>
    }
  </div>
</div>
<ng-template #view>
  <img [src]="imageSrc" alt="Ảnh lỗi">
</ng-template>

<ng-template #upload>
  <input class="inp-style" type="file" (change)="onChange($event)" multiple />
  <img id="output" [src]="imageSrc" alt="Ảnh lỗi">
  <button type="button" class="add-btn" style="background-color: #163297;" (click)="downloadImage()">
    <fa-icon [icon]="faSave"></fa-icon> Lưu
  </button>
</ng-template>

<ng-template #titleTemplate let-thing>
  <div class="custom-tooltip">
    <img [src]="tooltipContent" alt="Ảnh lỗi">
  </div>
</ng-template>