.col-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.col-m4-25 {
  /* width: 25%; */
  flex: 1 1 25%;
  min-width: 200px;
}

.inp-style {
  /* width: 90%;
    height: 35px;
    border-radius: 5px; */
  width: 90%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

/* .add-btn {
    width: 5%;
    height: 35px;
    background-color: #44D2D2;
    color: #fff;
    border: unset;
    border-radius: 9px;
    margin: 10px 10px;
}

.image-btn {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    background-color: #618ff7;
    border: unset;
    border-radius: 5px;
    color: #fff;
} */

.add-btn,
.image-btn {
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
}

.add-btn {
  height: 40px !important;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #45a049;
  cursor: pointer;
}

.image-btn {
  width: 35px;
  background-color: #618ff7;
}

.btn-edit-save {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: relative;
}

.btn-edit-save:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.btn-edit-save:active {
  transform: scale(0.95);
}

.nz-tooltip {
  position: absolute !important;
  z-index: 1000;
}

.custom-tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  opacity: 0.9;
  color: #333;
  font-size: 14px;
}

.custom-tooltip:hover {
  background-color: #f0f0f0;
  border-color: #4CAF50;
}
