<div>
  <h2 id="page-heading" data-cy="ComplaintListHeading">
    <span>Complaint Lists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-complaint-list"
        [routerLink]="['/rdcomplaint/complaint-list/new']">
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Complaint List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (complaintLists?.length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span>No Complaint Lists found</span>
  </div>
  }

  @if (complaintLists && complaintLists.length > 0) {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="product_code">
            <div class="d-flex">
              <span>Product Code</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="product_name">
            <div class="d-flex">
              <span>Product Name</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lot_number">
            <div class="d-flex">
              <span>Lot Number</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="branch">
            <div class="d-flex">
              <span>Branch</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reflector_id">
            <div class="d-flex">
              <span>Reflector Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="total_errors">
            <div class="d-flex">
              <span>Total Errors</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span>Quantity</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="production_time">
            <div class="d-flex">
              <span>Production Time</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dapartment_id">
            <div class="d-flex">
              <span>Dapartment Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="check_by_id">
            <div class="d-flex">
              <span>Check By Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rectification_time">
            <div class="d-flex">
              <span>Rectification Time</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="create_by">
            <div class="d-flex">
              <span>Create By</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="complaint_detail">
            <div class="d-flex">
              <span>Complaint Detail</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="unit_of_use">
            <div class="d-flex">
              <span>Unit Of Use Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="implementation_result_id">
            <div class="d-flex">
              <span>Implementation Result Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comment">
            <div class="d-flex">
              <span>Comment</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="follow_up_comment">
            <div class="d-flex">
              <span>Follow Up Comment</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="complaint_id">
            <div class="d-flex">
              <span>Complaint Id</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created_at">
            <div class="d-flex">
              <span>Created At</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updated_at">
            <div class="d-flex">
              <span>Updated At</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serial">
            <div class="d-flex">
              <span>Serial</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mac_address">
            <div class="d-flex">
              <span>Mac Address</span>

              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (complaintList of complaintLists; track trackId) {
        <tr data-cy="entityTable">
          <td>
            <a [routerLink]="['/rdcomplaint/complaint-list', complaintList.id, 'view']">{{ complaintList.id }}</a>
          </td>
          <td>{{ complaintList.product_code }}</td>
          <td>{{ complaintList.product_name }}</td>
          <td>{{ complaintList.lot_number }}</td>
          <td>{{ complaintList.branch }}</td>
          <td>{{ complaintList.reflector_id }}</td>
          <td>{{ complaintList.total_errors }}</td>
          <td>{{ complaintList.quantity }}</td>
          <td>{{ complaintList.production_time | formatMediumDatetime }}</td>
          <td>{{ complaintList.dapartment_id }}</td>
          <td>{{ complaintList.check_by_id }}</td>
          <td>{{ complaintList.rectification_time | formatMediumDatetime }}</td>
          <td>{{ complaintList.create_by }}</td>
          <td>{{ complaintList.status }}</td>
          <td>{{ complaintList.complaint_detail }}</td>
          <td>{{ complaintList.unit_of_use }}</td>
          <td>{{ complaintList.implementation_result_id }}</td>
          <td>{{ complaintList.comment }}</td>
          <td>{{ complaintList.follow_up_comment }}</td>
          <td>{{ complaintList.complaint_id }}</td>
          <td>{{ complaintList.created_at | formatMediumDatetime }}</td>
          <td>{{ complaintList.updated_at | formatMediumDatetime }}</td>
          <td>{{ complaintList.serial }}</td>
          <td>{{ complaintList.mac_address }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/rdcomplaint/complaint-list', complaintList.id, 'view']" class="btn btn-info btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </a>

              <a [routerLink]="['/rdcomplaint/complaint-list', complaintList.id, 'edit']" class="btn btn-primary btn-sm"
                data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </a>

              <button type="submit" (click)="delete(complaintList)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if (complaintLists && complaintLists.length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [page]="page" [pageSize]="itemsPerPage" [maxSize]="5"
        [rotate]="true" [boundaryLinks]="true" (pageChange)="navigateToPage($event)"></ngb-pagination>
    </div>
  </div>
  }
</div>