<div class="d-flex ">
  <div class="col-8" style="width: 100%;">
    <h2 id="jhi-complaint-list-heading" data-cy="ComplaintListCreateUpdateHeading">Thêm mới thông tin khiếu nại
    </h2>
    <div style="display: flex;width: 100%;justify-content: space-between;">
      <div style="display: flex;width: 30%;justify-content: space-between;">
        <button class="add-btn" (click)="addRow()"><fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon>Thêm
          mới</button>
        <button class="add-btn" style="background-color: #007bff; color: white; width: 23%;"
          (click)="exportExcel()"><fa-icon [icon]="faDownload" [fixedWidth]="true"></fa-icon>Tải file mẫu</button>
        <div class="add-btn" style="display: flex;width: 44%;background-color: #6c757d;"><fa-icon [icon]="faUpload"
            [fixedWidth]="true" style="margin: auto;"></fa-icon>
          <input type="file" style="margin: auto;" (change)="ReadExcel($event)">
        </div>
      </div>
      <div>
        <button class="add-btn" style="width: 100%;background-color: #81DAE3; color: white;"
          (click)="saveListComplaint()"><fa-icon [icon]="faSave" [fixedWidth]="true"></fa-icon>Lưu</button>
      </div>
    </div>
    <nz-table #middleTable nzBordered class="custom-table" [nzData]="complaintLists!" [nzFrontPagination]="false"
      [nzScroll]="{ x: '3700px' }" [nzLoading]="loading">
      <thead>
        <tr>
          <th class="table-header" style="width: 2%;" nzLeft>
            <div class="d-flex">
              <span>Option</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 2%;" nzLeft>
            <div class="d-flex">
              <span>STT</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;" nzLeft>
            <div class="d-flex">
              <span>Mã sản phẩm</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" nzLeft>
            <div class="d-flex">
              <span>Tên sản phẩm</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Ngành</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <!-- <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Mã LOT</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th> -->
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Người khiếu nại</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Hình thức khiếu nại</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Mã biên bản</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header">
            <div class="d-flex">
              <span>Đơn vị sử dụng</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Số lượng nhận</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Số lượng báo lỗi</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Số lượng lắp đặt</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <!-- <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Thông tin driver</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Thông tin LED</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th> -->
          <th class="table-header">
            <div class="d-flex">
              <span>Nội dung khiếu nại</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
          <th class="table-header" style="width: 6%;">
            <div class="d-flex">
              <span>Trạng thái</span>

              <fa-icon class="p-1"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (complaintList of complaintLists; track complaintList.product_code;let i =$index) {
        <tr data-cy="entityTable">
          <td nzLeft>
            <div class="btn-group">
              <button class="btn btn-danger image-btn" (click)="deleteRow(complaintList)"><fa-icon
                  [icon]="faTrash"></fa-icon></button>
            </div>
          </td>
          <td nzLeft> {{i+1}}</td>
          <td nzLeft>
            <input class="input-search" type="text" [(ngModel)]=" complaintList.product_code"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="updateProduct(i,complaintList.product_code,null,null)"
              [ngClass]="{'input-error': !complaintList.product_code && !validateProductCode(complaintList.product_code)}"
              list="productCode" [matAutocomplete]="auto33" />
            <mat-autocomplete [panelWidth]="800" #auto33="matAutocomplete"
              (optionSelected)="onSelectedElectronic(i, $event.option.value)">
              <mat-option *ngFor="let item of listItem" [value]="item">
                <span><b>{{item.itemCode}}</b></span>
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="complaintList.product_code && !validateProductCode(complaintList.product_code)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </td>
          <td nzLeft>
            <input class="input-search" type="text" [(ngModel)]=" complaintList.product_name"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="updateProductName(i,null,complaintList.product_name,null)"
              [ngClass]="{'input-error': !complaintList.product_name && !validateProductName(complaintList.product_name)}"
              list="productName" [matAutocomplete]="auto34" />
            <mat-autocomplete [panelWidth]="800" #auto34="matAutocomplete"
              (optionSelected)="onSelectedElectronic(i,$event.option.value)">
              <mat-option *ngFor="let item of listItem" [value]="item">
                <span><b>{{item.itemName}}</b></span>
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="complaintList.product_name && !validateProductName(complaintList.product_name)"
              class="error-message">
              Vui lòng giá trị từ danh sách
            </div>
          </td>
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.branch"
              [ngModelOptions]="{ standalone: true }" (change)="updateProduct(i,null,null,complaintList.branch)"
              [ngClass]="{'input-error': !complaintList.branch}" list="branch" />

          </td>
          <!-- <td><input class="input-search" type="text" [(ngModel)]="complaintList.production_time_convert"
              [ngModelOptions]="{ standalone: true }"
              [ngClass]="{'input-error': !complaintList.production_time_convert}" />
          </td> -->
          <td>
            <input class="input-search" type="text" [(ngModel)]="complaintList.reflector"
              [ngModelOptions]="{ standalone: true }" list="reflector"
              (input)="validateReflector(complaintList.reflector)"
              [ngClass]="{'input-error': !complaintList.reflector && !validateReflector(complaintList.reflector)}" />
            <datalist id="reflector">
              <option *ngFor="let data of listReflector" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div *ngIf="complaintList.reflector && !validateReflector(complaintList.reflector)" class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </td>
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.complaint"
              [ngModelOptions]="{ standalone: true }" list="complaint"
              (input)="validateReflector(complaintList.complaint)"
              [ngClass]="{'input-error': !complaintList.complaint && !validateNameListComplaint(complaintList.complaint)}" />
            <datalist id="complaint">
              <option *ngFor="let data of listComplaint" [value]="data.name">{{data.name}}</option>
            </datalist>
            <div *ngIf="complaintList.complaint && !validateNameListComplaint(complaintList.complaint)"
              class="error-message">
              Vui lòng chọn giá trị từ danh sách
            </div>
          </td>
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.report_code"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.report_code}" />
          </td>
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.unit_of_use"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.unit_of_use}" />
          </td>
          <td><input class="input-search" type="number" [(ngModel)]=" complaintList.quantity"
              [ngModelOptions]="{ standalone: true }" (keydown)="isNumberKey($event)" min="0"
              [ngClass]="{'input-error': !complaintList.quantity}" />
          </td>
          <td><input class="input-search" type="number" [(ngModel)]=" complaintList.error_quantity"
              [ngModelOptions]="{ standalone: true }" (keydown)="isNumberKey($event)" min="0"
              [ngClass]="{'input-error': !complaintList.error_quantity}" />
          </td>
          <td><input class="input-search" type="number" [(ngModel)]=" complaintList.used_quantity"
              [ngModelOptions]="{ standalone: true }" (keydown)="isNumberKey($event)" min="0"
              [ngClass]="{'input-error': !complaintList.used_quantity}" />
          </td>
          <!-- <td><input class="input-search" type="text" [(ngModel)]=" complaintList.driver_infor"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.driver_infor}" />
          </td>
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.led_infor"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.led_infor}" />
          </td> -->
          <td><input class="input-search" type="text" [(ngModel)]=" complaintList.complaint_detail"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.complaint_detail}" />
          </td>
          <td>
            <!-- <input class="input-search" type="text" [(ngModel)]=" complaintList.status"
              [ngModelOptions]="{ standalone: true }" [ngClass]="{'input-error': !complaintList.status}" /> -->
            <select class="input-search" [(ngModel)]=" complaintList.status" [ngModelOptions]="{ standalone: true }">
              <option value="Chờ phân tích">Chờ phân tích</option>
            </select>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>