<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (complaint) {
      <div>
        <h2 data-cy="complaintDetailsHeading"><span>Complaint</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ complaint.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ complaint.name }}</span>
          </dd>
          <dt><span>Create By</span></dt>
          <dd>
            <span>{{ complaint.create_by }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ complaint.created_at | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Status</span></dt>
          <dd>
            <span>{{ complaint.status }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/rdcomplaint/complaint', complaint.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
