<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reflector) {
      <div>
        <h2 data-cy="reflectorDetailsHeading"><span>Reflector</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ reflector.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ reflector.name }}</span>
          </dd>
          <dt><span>Create By</span></dt>
          <dd>
            <span>{{ reflector.create_by }}</span>
          </dd>
          <dt><span>Created At</span></dt>
          <dd>
            <span>{{ reflector.created_at | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/rdcomplaint/reflector', reflector.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
